.blue {
    color: blue;
}

.big {
    font-size: 2em;
}


#scrollable {
    border: 5px solid black;
    background-color: lightblue;
    position: relative;
    height: 70px;
    padding: 10px;
    margin: 1em;
    overflow: auto;
}